# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python (чтобы не засорять коммиты техническим мусором)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки PyCharm
.idea/

# База данных (db.sqlite3) — у каждого разработчика она должна быть своя для тестов
*.sqlite3

# Медиа-файлы (наша новая папка с загруженными плакатами)
media/