.slog {
    display: flex;
    flex-direction: row;
    height: 50vh;
}

.slog img {
    height: 100%;
}

.inform {
    display: flex;
    flex-direction: column;
}

button {
    background: transparent;
    border: 0.1;
    width: 150px;
    height: 50px;
}

.but {
    display: flex;
    flex-direction: row;
}

#colorid {
    background: linear-gradient(to top, #D61F5B, #5B2C8A);
    color: white;
    border: none;
    width: 220px;
}

#ava {
    height: 2%;
    width: 2%;
}