{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Pixel Peak</title>
</head>
<body>
    <header class="main-header">
        <div class='header_size'> 
            <div class="logo">
                <img src="{% static 'Material/logo.png' %}" alt="Logo">
            </div>
            <nav>
                <a href="/" class="{% if request.path == '/' %}active{% endif %}">Главная</a>
                <a href="/catalog/" class="{% if request.path == '/catalog/' %}active{% endif %}">Каталог</a>
                <a href="/collections/" class="{% if request.path == '/collections/' %}active{% endif %}">Коллекции</a>
                <a href="/about/" class="{% if request.path == '/about/' %}active{% endif %}">О нас</a>
            </nav>
            <div class="header-icons">
                <a>🔍</a> 
                <a href="{% url 'profile' %}" class="{% if request.path == '/profile/' %}active{% endif %}">👤</a> 
                <a href="{% url 'favorites' %}" class="{% if request.path == '/favorites/' %}active{% endif %}">❤️</a>
                <a href="{% url 'cart' %}" class="{% if request.path == '/cart/' %}active{% endif %}">🛒(0)</a>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <div class="footer-content">
            <div class="footer-info">
                <div class="logo-footer">
                    <img src="{% static 'Material/logo.png' %}" alt="Logo">
                </div>
                <p>Авторские постеры для вашего пространства, вдохновленные цифровой эстетикой</p>
            </div>
            <div class="footer-links">
                <h4>ПОМОЩЬ</h4>
                <a href="#">Доставка</a>
                <a href="#">Гарантии</a>
            </div>
            <div class="footer-contacts">
                <h4>КОНТАКТЫ</h4>
                <p>+7 (999) 123-45-67</p>
                <p>support@pixelpeak.ru</p>
            </div>
        </div>
        <div class="footer-bottom">© 2026 Pixel Peak. Все права защищены.</div>
    </footer>
</body>
</html>